<mt:app:ContentFieldOptionGroup type="tiptap">
  <!-- <mtapp:ContentFieldOption
    id="tiptap-body-label"
    label="<__trans phrase="Body Label">">
    <input ref="body_label" type="text" name="body_label" id="tiptap-text-body-label-fld" class="form-control w-25" value={ options.body_label || 0 }>
  </mtapp:ContentFieldOption>

  <mtapp:ContentFieldOption
    id="tiptap-preview-label"
    label="<__trans phrase="Preview Label">"
  >
    <input ref="preview_label" type="text" name="preview_label" id="tiptap-preview-value-label-fld" class="form-control w-25" value={ options.preview_label || 0 }>
  </mtapp:ContentFieldOption> -->
</mt:app:ContentFieldOptionGroup>
